@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap');



body {
    margin: 0;
    padding: 0;
    background-color: #F1EBE3;
    font-family: 'Lexend', sans-serif;
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.header {
    font-family: 'Lexend', sans-serif;
    position: top-left;
    top: 0;
    left: 0;
    padding: 20px;
    color: black;
    font-size: 29px;
    font-weight: 50px;
    
}


.intro {
    font-size: 32px;
    font-weight: 50;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    position: center;
    margin-top: 150px;
    margin-right: 730px;
    color: black;
    font-size: 29px;
}
.portfolio-container {
    font-family: 'Lexend', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    position: bottom;
    padding-top: 20px;
    margin-top: 80px;
    margin-right: 880px;
    
 
}
.portfolio-button {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 50;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-right-radius:16px;
    border-bottom-left-radius:16px;
}
.portfolio-button:hover {
    background-color: #444;
}
.photo{
    margin-left: 800px;
    margin-bottom: 500px;
}